.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  text-align: center;
}

.addButton {
  width: 260px;
  display: flex;
  justify-content: center;
}

.cost {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}